$error-color: red;
$succes-color: green;

* {
	box-sizing: border-box;
	border: none;
}

html .mfp-content {
	max-width: 1000px;
	width: 100%;
}

.form-validate-ajax {
	// padding: 20px 40px;
	padding-bottom: 0 !important;
	width: 100%;
	position: relative;
	display: inline-block;
	background-color: #fff;
	text-align: left;
}

form {
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .05);
}

.mfp-content {
	max-width: 375px;
	margin: 0 auto;
}

label {
	display: block;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	img {
		position: absolute;
		right: 10px;
		top: 30px;
	}
}

span {
	font-size: 14px;
	margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .05);
	transition: .2s;

	&:focus {
		// box-shadow:
		// 	inset 1px 1px 5px rgba(0, 0, 0, .05),
		// 	0 0 0 1px #80d4ff;
	}
}

input[type="submit"] {
	width: 100%;
	padding: 10px 20px;
	background-color: #00bf00;
	border: none;
	color: #fff;
	border-radius: 2px;
	transition: .2s;

	&:hover {
		cursor: pointer;
		background-color: #008000;
	}
}

textarea {
	width: 100%;
	max-width: 100%;
}

.input-country {
	position: relative;

	.jq-selectbox {
		position: absolute;
		width: 100px;
		height: 100%;
		border: 0;

		&__select {
			height: 100%;
			padding: 0;
			background: none;
			box-shadow: none;
			text-shadow: none;
			border: none;
			border-radius: 0;
			border-right: 1px solid #dbdbdb;


			&-text {
				height: 100%;
				display: flex;
				align-items: center;
				padding-left: 40px;
				background-size: 20px;
				background-repeat: no-repeat;
				background-position: left 10px center;
			}
		}

		&__trigger {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;

			&-arrow {
				position: static;
				top: auto;
				left: auto;
				right: auto;
			}
		}

		&__dropdown {
			margin: 0;
			top: 100% !important;
		}

		li {
			padding-left: 40px;
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: left 10px center;
		}
	}

	input[type="tel"] {
		
		&:not(.input--hidden){
			padding-left: 110px;
		}

		&.input--hidden {
			display: none;
		}
	}

}

.jq-radio.checked .jq-radio__div {
	margin: 2px 0 0 2px;
}



#ui-datepicker-div {
	z-index: 10000 !important;
}