footer.footer
    .container
        .footer-logo
            a(href='/')
                img(src='./img/logo.png')
        ul.footer-menu
            li.footer-menu__li
                a(href='#') Главная
            li.footer-menu__li
                a(href='#') Каталог
            li.footer-menu__li
                a(href='#') О нас
            li.footer-menu__li
                a(href='#') Бренды
            li.footer-menu__li
                a(href='#') Новости
            li.footer-menu__li
                a(href='#') Блог
            li.footer-menu__li
                a(href='#') Контакты
        .medialine-block
            span Разработка сайта
            | &#032;
            | -
            | &#032;
            a(href="https://www.medialine.by/" target="_blank") Медиа Лайн







