header.header
    .container
        .header-logo
            a(href='/')
                img(src='./img/logo.png')
        ul.header-menu
            li.header-menu__li
                a(href='#') Главная
            li.header-menu__li
                a(href='#') Каталог
            li.header-menu__li
                a(href='#') О нас
            li.header-menu__li
                a(href='#') Бренды
            li.header-menu__li
                a(href='#') Новости
            li.header-menu__li
                a(href='#') Блог
            li.header-menu__li
                a(href='#') Контакты







