.slider
    .slider-block
        .container
            .slider-block__text 1
    .slider-block
        .container
            .slider-block__text 2
    .slider-block
        .container
            .slider-block__text 3
    .slider-block
        .container
            .slider-block__text 4