.fv.form-validate-ajax
	form(action="")
		.fv__heading
			| Форма валидации
		.fv__error Ошибка
		.fv__block.required--input.required
			label
				span Текстовое поле ввода
					|:
				input(type='text' data-length='7')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--input.num--inset.required
			label
				span Цифровое поле ввода
				| :
				input(type='text' data-length='1')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--password.required
			.password-first
				label
					span Введите пароль:
					| :
					input(type='password' required minlength="4" maxlength="8")
					.password-control
				.fv__block-error Поле заполнено некорректно!
				.fv__block-succes Поле заполнено корректно!
				.fv__block-not-equally Пароли не совпадают!
			.password-second(style="display: none;")
				label
					span Повторите пароль:
					| :
					input(type='password' required minlength="4" maxlength="8")
					.password-control
				.fv__block-error Поле заполнено некорректно!
				.fv__block-succes Поле заполнено корректно!
				.fv__block-not-equally Пароли не совпадают!

		.fv__block.input--mask--required.required--date.required
			label
				span Цифровое поле ввода (дата рождения, обязательное)
				| :
				input(type='text' class='date-picker' data-mask="99.99.9999" data-lang="ru" data-src='./img/svg/post.svg' data-template='dd.mm.yy')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask
			label
				span Цифровое поле ввода (дата рождения, НЕ обязательное)
				| :
				input(type='text' class='date-picker' data-mask="99.99.9999" data-lang="ru" data-src='./img/svg/post.svg' data-template='dd.mm.yy')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask--required.required
			label
				span Цифровое поле ввода (телефон, обязательное)
				| :
				input(type='tel' data-mask='+375 (99) 999-99-99' data-placeholder='+375 (__) ___-__-__' placeholder='+375 (__) ___-__-__')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask
			label
				span Цифровое поле ввода, (телефон, НЕобязательное)
				| :
				input(type='tel' data-mask='+375 (99) 999-99-99' data-placeholder='+375 (__) ___-__-__' placeholder='+375 (__) ___-__-__')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.mask-input-control
			label
				span Цифровое поле ввода, (телефон, НЕобязательное, но с проверкой)
				| :
				input(type='tel' data-mask='+375 (99) 999-99-99' data-placeholder='+375 (__) ___-__-__' placeholder='+375 (__) ___-__-__')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask.input--mask--required.required.js-phone
			label
				span Телефон (обязательное)
				| :
				div.input-country
					select.styler.js-value
						option(data-mask='(99) 999-99-99' data-value='(99) 999-99-99' data-placeholder='(__) ___-__-__' data-img="./img/svg/belarus.svg" selected) +375
						option(data-mask='(999) 999-99-99' data-value='(999) 999-99-99' data-placeholder='(___) ___-__-__' data-img="./img/svg/russia.svg") +7
						option.no-mask Другая
					input(type='tel' data-mask='(99) 999-99-99' data-placeholder='(__) ___-__-__' placeholder='(__) ___-__-__').input--main.js-value
					input(type='tel').input--hidden
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask.js-phone
			label Телефон (НЕобязательное)
				div.input-country
					select.styler.js-value
						option(data-mask='(99) 999-99-99' data-value='(99) 999-99-99' data-placeholder='(__) ___-__-__' data-img="./img/svg/belarus.svg") +375
						option(data-mask='(999) 999-99-99' data-value='(999) 999-99-99' data-placeholder='(___) ___-__-__' data-img="./img/svg/russia.svg" selected) +7
						option.no-mask Другая
					input(type='tel' data-mask='(99) 999-99-99' data-placeholder='(__) ___-__-__' placeholder='(__) ___-__-__').input--main.js-value
					input(type='tel').input--hidden
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--email.required
			label
				span Текстовое поле ввода (email, обязательное)
				| :
				input(type='email')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.email-input-control
			label
				span Текстовое поле ввода (email, НЕ обязательное, но с проверкой)
				| :
				input(type='email')
			.fv__block-succes Поле заполнено корректно!

		.fv__block.radio--required
			span Группа раидокнопок:
			label
				input(type="radio" name="radio1").styler
				span Радиокнопка
			label
				input(type="radio" name="radio1").styler
				span Радиокнопка
			label
				input(type="radio" name="radio1").styler
				span Радиокнопка
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--check
			span Группа одиночных чекбоксов:
			label
				input(type="checkbox").styler
				span Одиночный чекбокс
			label
				input(type="checkbox").styler
				span Одиночный чекбокс
			label
				input(type="checkbox").styler
				span Одиночный чекбокс
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required.required--select
			label
				span Выпадающий список:
				br
				select.styler
					option(disabled selected value="Not selected") Не выбрано
					option(value="1") Опция 1
					option(value="2") Опция 2
					option(value="3") Опция 3
					option(value="4") Опция 4
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.check-more
			span Группа чекбоксов:
			label
				input(type="checkbox").styler
				span Групповой чекбокс
			label
				input(type="checkbox").styler
				span Групповой чекбокс
			label
				input(type="checkbox").styler
				span Групповой чекбокс
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--textarea
			label
				span Поле для ввода текста
				br
				textarea(name="" cols="30" rows="10")
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--file.required
			label
				span Прикрепить файл (один)
				| :
				br
				input(type="file").styler
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--file--multiple.required(data-max="5")
			label
				span Прикрепить файл (несколько)
				| :
				br
				input(type="file" data-number="" data-placeholder="Выберите файл" multiple).styler
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!
			.input-file-list

		.fv__block.fv__block-sbmt.required
			input(type='submit' value='Отправить' class='required--sbmt')