// Переменные
$font: "montserat";
$container: 1440px;
$main_color: #363636;


$grid-columns: 12;
@for $i from 1 through $grid-columns {
	.col-#{$i}{
		width: percentage($i / $grid-columns);
	}
}


*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: $main_color;
	transition: .2s;
	&:hover{
		color: $red;
	}
}
img{
	max-width: 100%;
}
article{
	width: 100%;
	margin: 0 auto;
	position: relative;
	position: relative;
}
// Стили
.container {
	max-width: $container;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
}
html{
	overflow: visible;
}
body {
	font-family: $font;
	font-weight: 400;
	overflow: visible;
	overflow-x: hidden;
	color: $main_color;
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: -0.02em;
}
.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
	display: flex; /* по умолчанию показываем нужный блок */
}
	

input,
select,
button{
	outline:none;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
}
a{
	color:inherit;
	text-decoration: none;
}

*,*:before, *:after{
	box-sizing:border-box;
}


.container{
	@include wrapper();
}